<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MultiShop | Üye Paneli</title>
    <link rel="stylesheet" href="~/user-template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/user-template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/user-template/css/style.css">
    <link rel="shortcut icon" href="~/user-template/images/favicon.png" />
</head>