@model GetByIdProductImageDto

<div class="col-lg-5 mb-30">
    <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-light">




            <div class="carousel-item active" style="height: 450px;">
                <img class="w-100 h-100" src="@Model.Image1" alt="Image" style="object-fit:cover; height:-webkit-fill-available">
            </div>

            <div class="carousel-item" style="height: 450px;">
                <img class="w-100 h-100" src="@Model.Image2" alt="Image" style="object-fit:cover; height:-webkit-fill-available">
            </div>
            <div class="carousel-item" style="height: 450px;">
                <img class="w-100 h-100" src="@Model.Image3" alt="Image" style="object-fit:cover; height:-webkit-fill-available">
            </div>  <div class="carousel-item" style="height: 450px;">
                <img class="w-100 h-100" src="@Model.Image4" alt="Image" style="object-fit:cover; height:-webkit-fill-available">
            </div>




        </div>
        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
            <i class="fa fa-2x fa-angle-left text-dark"></i>
        </a>
        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
            <i class="fa fa-2x fa-angle-right text-dark"></i>
        </a>
    </div>
</div>