@model List<ResultFeatureDto>
@{
    int count = 0;

}

<div class="container-fluid pt-5 ">
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model)
        {
            if (count<4)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                        <h1 class="@item.Icon text-primary m-0 mr-3"></h1>
                        <h5 class="font-weight-semi-bold m-0">@item.Title</h5>
                    </div>
                </div>
                count++;
            }
       
            
        }
    </div>
</div>