@model List<ResultSpecialOfferDto>
@{
    int count = 0;
}

@foreach (var item in Model.OrderByDescending(x=>x.SpecialOfferId))
{
    if (count<2)
    {
        <div class="product-offer mb-30" style="height: 200px;">
            <img class="img-fluid" src="@item.ImageUrl" alt="">
            <div class="offer-text">
                <h6 class="text-white mb-3">@item.SubTitle</h6>
                <h3 class="text-white text-uppercase">@item.Title</h3>
                <a href="" class="btn btn-primary">Alışverişe Başla</a>
            </div>
        </div>
        count++;
    }
}

