<div class="product-offer mb-30" style="height: 200px;">
    <img class="img-fluid" src="https://wallpapers.com/images/high/guess-sunglasses-male-model-67i11wthz6p1nx73.webp" alt="">
    <div class="offer-text">
        <h6 class="text-white mb-3">Gözlüklerde</h6>
        <h3 class="text-white text-uppercase">20% İNDİRİM</h3>
        <a href="" class="btn btn-primary">Alışverişe Başla</a>
    </div>
</div>
<div class="product-offer mb-30" style="height: 200px;">
    <img class="img-fluid" src="https://wallpapers.com/images/high/ring-pictures-49i9yl8hmhnj70av.webp" alt="">
    <div class="offer-text">
        <h6 class="text-white mb-3">Takılarda</h6>
        <h3 class="text-white text-uppercase">15% İNDİRİM</h3>
        <a href="" class="btn btn-primary">Alışverişe Başla</a>
    </div>
</div>