<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4 text-center"><span class="bg-secondary pr-3">GÜNÜN İNDİRİMLERİ</span></h2>
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="https://wallpapers.com/images/high/light-burgundy-makeup-beauty-products-834a3we0h33kpszx.webp" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">20% İndirim</h6>
                    <h3 class="text-white mb-3">Makyaj Ürünlerinde</h3>
                    <a href="" class="btn btn-primary">Gözat</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="https://wallpapers.com/images/high/black-omega-hand-watch-0opu3qkz7kylpaa6.webp" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">20% İndirim</h6>
                    <h3 class="text-white mb-3">Seçili Saatlerde</h3>
                    <a href="" class="btn btn-primary">Gözat</a>
                </div>
            </div>
        </div>
    </div>
</div>