@model List<ResultBrandDto>

<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4 text-center"><span class="bg-secondary pr-3">ÖNE ÇIKAN MARKALAR</span></h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var item in Model)
                {
                    <div class="bg-light  overflow-hidden " style="height:150px;border:1px solid #F7EFE5">
                        <img class="img-fluid w-100 " src="@item.ImageUrl" style="object-fit:cover; height:-webkit-fill-available" alt="">
                </div>
                    
                }
                
            </div>
        </div>
    </div>
</div>