@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Hakkında Bilgisi Ekle</h4>
                <p>Hakkında bilgisi ekleme işlemini aşağıdaki formu doldurarak yapabilirsiniz.</p>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">

                        <div class="form-group">
                            <label for="inputAddress">Adres</label>
                            <input asp-for="Address" type="text" class="form-control" id="inputAddress">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="inputDescription">Açıklama</label>
                            <input asp-for="Description" type="text" class="form-control" id="inputDescription">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="inputEmail">Mail</label>
                            <input asp-for="Email" type="text" class="form-control" id="inputEmail">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="inputPhone">Telefon</label>
                            <input asp-for="Phone" type="text" class="form-control" id="inputPhone">
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success">Hakkında Bilgisini Ekle</button>
                    </form>


                </div>
            </div>
        </div>

    </div>
</section>



