<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Menü</p>
            <span></span>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Aktif Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/MyOrder/MyOrderList">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Geçmiş Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Kargolarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-message-text-outline menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class=""> <i class="mdi mdi-inbox menu-icon text-white mx-1"></i> <a class="" href="/User/Message/Inbox/">Gelen Kutusu</a></li>
                    <li class=""> <i class="mdi mdi-send menu-icon text-white mx-1"></i> <a class="" href="/User/Message/Sendbox/">Giden Kutusu</a></li>

                </ul>
            </div>
        </li>
     
     
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Taleplerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Profilim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>