@model CreateFeatureDto
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yeni Özellik Ekleme</h4>
                <p>Yeni özellik ekleme işlemini aşağıdaki formu doldurarak yapabilirsiniz.</p>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">

                        <div class="form-group">
                            <label for="inputTitle">Özellik Adı</label>
                            <input asp-for="Title" type="text" class="form-control" id="inputTitle">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="inputIcon">Özellik İkonu</label>
                            <input asp-for="Icon" type="text" class="form-control" id="inputIcon">
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success">Özelliği Ekle</button>
                    </form>


                </div>
            </div>
        </div>

    </div>
</section>


