@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div style="display:flex!important;justify-content:space-between!important">
                    <p>Marka ile ilgili işlemlerinizi aşağıdaki tablo üzerinden gerçekleştirebilirsiniz.</p>
                    <a class="btn btn-success" href="/Admin/Brand/CreateBrand/">Yeni Marka Ekle</a>
                </div>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th></th>
                                <th>Kategori Adı</th>
                                <th>Sil</th>
                                <th>Güncelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td class="img-cover text-center"><img src="@item.ImageUrl" width="75px" /></td>
                                    <td>@item.BrandName</td>
                                    <td><a class="btn btn-danger" href="/Admin/Brand/DeleteBrand/@item.BrandId">Sil</a></td>
                                    <td><a class="btn btn-primary" href="/Admin/Brand/UpdateBrand/@item.BrandId">Güncelle</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>


                </div>
            </div>
        </div>

    </div>
</section>

